* {
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
}

main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;

  form#search-form {
    margin-left: auto;
    margin-right: auto;
    display: table;

    th {
      padding-right: 0;
    }

    td {
      padding-left: 0;
    }

    label {
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      background-color: rgba(71, 85, 105, 0.5);
      border: 1px solid rgb(0 0 0);
      border-radius: 0.25rem 0 0 0.25rem;
      border-right: none;
      user-select: none;
      display: block;
    }

    input {
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem 0.5rem;
      border-left: 1px solid black;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      /* margin-left: -1ex; */
      background-color: rgb(71 85 105);
      width: 100%;
      /* height: 100%; */
      display: block;
    }

    input[type=checkbox] {
      height: 28px;
    }

    input[type=checkbox] + label::after {
      content: 'haha';
      padding: 8px;
      margin-left: 8px;
      display: inline-block;
      border: 1px solid transparent;
      border-left: 1px dashed #ccc;
    }

    input[type=checkbox]:checked + label {
      border: 1px solid #4575ab;
      color: #4575ab;
    }

    input[type=checkbox]:checked + label::after {
      border: 1px solid #fff;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      background-color: #4575ab;
      color: #fff;
    }

    input[type=submit] {
      border-radius: 0.25rem;
    }
  }

  section#tweet-container {
    article {
      // each tweet
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      padding: 0.5rem;

      .tweet-id {
        text-align: center;
      }

      .tweet-timestamp {
        float: right;
        color: lightblue;
      }

      a {
        text-decoration: underline;
        color: lightblue;
      }
    }
  }
}
